{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:test    {:extra-paths ["test"]
                     :extra-deps  {midje-runner {:git/url "git@github.com:miorimmax/midje-runner"
                                                 :sha     "ee9c2813e150ae6b3ea41b446b09ba40fc89bdc1"}
                                   midje        {:mvn/version "1.9.8"}}
                     :main-opts   ["-m" "midje-runner.runner" ":print-namespaces" ":print-facts"]}
           :jar     {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                     :main-opts  ["-m" "hf.depstar.jar" "programming-bitcoin.jar"]}
           :install {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "programming-bitcoin.jar"]}
           :deploy  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "programming-bitcoin.jar"]}}}
