{:kaocha/tests    [{:kaocha.testable/type :kaocha.type/midje
                    :kaocha.testable/id   :unit
                    :kaocha/source-paths  ["src"]
                    :kaocha/test-paths    ["test"]}]
 :kaocha/reporter [kaocha.report/dots]
 :kaocha/color true}
